
.width-input {
  width: 45% !important;
}

.width-input-second {
  width: 25% !important;
}

.none-padding {
  margin: 0 0;
  width: 10%;
}

.none-padding-simple {
  margin: 0 0;
  width: 15%;
}

.padding-top{
  padding-top: 10px;
}
